# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Django
*.db
/media/
*.pot

# Env
venv/
.env
.env.*

# VSCode / IDE
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
