# Python
__pycache__/
*.py[cod]
*.env
*.sqlite3
*.log

# Virtual environment
venv/

# Django stuff
*.migrations/
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# macOS and Windows
.DS_Store
Thumbs.db

